@import '../components/variables.scss';

.before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(17, 17, 17, 0.7);
  background-color: #000;
}

.beforeWorks {
  content: "";
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(17, 17, 17, 0.7);
  background-color: $button_hover_color;
}

.titleSection {
  font-family: $text;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: $services_color_text;

  text-transform: uppercase;

  @media screen and (max-width: 576px) {
    font-size: 16px;
  }
}

.lineSection {
  margin: 30px 0;

  @media screen and (max-width: 576px) {
    margin: 10px 0;
  }

  hr {
    width: 50px;
    height: 3px;
    background-color: $services_color_text;
  }
}

.taglineSection {
  font-family: $services_tagline;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  color: $services_color_text;
}

.button_partner {
  width: 15px;
  height: 15px;
  background-image: url(../assets/img/slider_button.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  outline: none;

  &:hover {
    background-image: url(../assets/img/slider_button_active.png);
  }
}

.text_partner {
  text-align: center;

  .title {
    font-size: 18px;
    line-height: 30px;
    color: $services_color_text;
    font-family: $services_tagline;

    @media screen and (max-width: 992px) {
      font-size: 13px;
      line-height: 18px;
      margin-top: 20px;
    }
  }
}

.touch_contact {
  .title {
    font-family: $text;
    font-size: 14px;
    line-height: 30px;
    color: $services_color_text;
    text-transform: uppercase;
  }

  .tagline {
    margin-bottom: 30px;

    font-family: $services_tagline;
    font-size: 12px;
    line-height: 20px;
    color: $services_color_text;

    @media screen and (max-width: 992px) {
      margin-bottom: 10px;
    }
  }
}
