// font-family
$text_title : 'Montserrat Bold',
'Arial',
serif;
$text : 'Montserrat Legular',
'Arial',
serif;
$tagline : 'Roboto Regular',
'Arial',
serif;
$services_tagline : 'RobotoSlab Regular',
'Arial',
serif;

//colors
$services_color_text : #555555;
$button_hover_color  : #c0301c;
$blog_color_text     : #777777;
